[submodule "tools/compilation/bambu/PandA-bambu"]
	path = tools/compilation/bambu/PandA-bambu
	url = https://github.com/ferrandi/PandA-bambu
[submodule "tools/compilation/dosa/dosa"]
	path = tools/compilation/dosa/dosa
	url = https://github.com/cloudFPGA/DOSA.git
[submodule "tools/runtime/margot/brian"]
	path = tools/runtime/margot/brian
	url = https://gitlab.com/margot_project/brian.git
[submodule "tools/runtime/margot/adam"]
	path = tools/runtime/margot/adam
	url = https://gitlab.com/margot_project/adam
[submodule "tools/runtime/margot/theo"]
	path = tools/runtime/margot/theo
	url = https://gitlab.com/margot_project/theo.git
[submodule "tools/runtime/margot/core"]
	path = tools/runtime/margot/core
	url = https://gitlab.com/margot_project/core.git
[submodule "tools/compilation/mnemosyne/mnemosyne"]
	path = tools/compilation/mnemosyne/mnemosyne
	url = https://github.com/chrpilat/mnemosyne
[submodule "tools/compilation/cFDK/cFDK"]
	path = tools/compilation/cFDK/cFDK
	url = https://github.com/cloudFPGA/cFDK.git
[submodule "tools/compilation/olympus/olympus"]
	path = tools/compilation/olympus/olympus
	url = https://github.com/StephanieSoldavini/olympus
[submodule "tools/compilation/dfg-mlir/dfg-mlir"]
	path = tools/compilation/dfg-mlir/dfg-mlir
	url = https://github.com/Feliix42/dfg-mlir.git
[submodule "tools/compilation/ohua/condrust"]
	path = tools/compilation/ohua/condrust
	url = https://github.com/ohua-lang/condrust
[submodule "tools/runtime/virt_framework/esfm"]
	path = tools/runtime/virt_framework/esfm
	url = https://github.com/virtualopensystems/esfm.git
[submodule "tools/runtime/virt_framework/qdma_drivers"]
	path = tools/runtime/virt_framework/qdma_drivers
	url = https://github.com/virtualopensystems/qdma_drivers.git
[submodule "tests/cpp-synthesis/etl"]
	path = tests/cpp-synthesis/etl
	url = https://github.com/ferrandi/etl
	branch = feature/raw-copyable
[submodule "tools/basecamp/basecamp"]
	path = tools/basecamp/basecamp
	url = https://github.com/everest-h2020/everest-basecamp.git
[submodule "tools/compilation/messner/messner"]
	path = tools/compilation/messner/messner
	url = git@github.com:everest-h2020/messner.git
	branch = cfdlang
[submodule "tools/runtime/evkit/evkit"]
	path = tools/runtime/evkit/evkit
	url = https://code.it4i.cz/everest/evkit.git
